# Secrets
secrets/
certs/

# Devcontainer
.devcontainer/devcontainer-lock.json

# environment variables
.env

.vscode/

*.pylintrc

*.pyc
*.cpython-*
app/__pycache__/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend
frontend/node_modules/
frontend/.vite/
frontend/dist/
frontend/build/
frontend/.cache/
frontend/.parcel-cache/
frontend/.turbo/
frontend/.next/            # in case Next.js is used later
frontend/.pnp.*            # pnpm
frontend/.env.local
frontend/.env.*.local
frontend/coverage/
frontend/coverage-final.json
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.DS_Store
frontend/.idea/
frontend/.vscode/

# other files
backend/scripts/create_user_environment.py