fastapi
uvicorn
sqlalchemy
psycopg2-binary
requests
fastapi
uvicorn
tabulate
beautifulsoup4
pandas
tqdm
pymongo
pillow
standard-imghdr
pyjwt
bcrypt==4.3.0
passlib[bcrypt]
python-multipart